* {
    box-sizing: border-box;
}

body {
    margin-left: 0px;
}

::-webkit-scrollbar {
    width: 0;
}

.body2 {
    height: 100vh;
    font-family: 'Exo 2.0 Medium', sans-serif; /*'Courier New', Courier, monospace ; "Roboto", sans-serif; */
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 5px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color:rgb(98, 64, 30)
}

ul {
    padding-left: 20px;
    margin: 0;
}


.glavnoe {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(177, 168, 159);
    border: 1px solid rgb(177, 168, 159);
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: rgb(98, 64, 30) rgb(177, 168, 159);
}

img.prof {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.zagolovok {
    border: 1px solid black;
    /* border-radius: 5px; */
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    background: #fff;
}
.osnovnoe {
    padding: 10px;
}

.grnavik {
    color: rgb(98, 64, 30);
    font-weight: bolder;
}
.education {
    display: grid;
    grid-template-columns: 30% 70%;
}
.punkt{
    font-weight: bolder;
}
.experiencen {
    display: grid;
    grid-template-columns: 30% 70%; 
}

.education2 {
    display: grid;
    grid-template-columns: 30% 70%;
}
.razdelenie {
    height: 1px;
    opacity: 0.5; 
    border-top: 1.5px dashed #3c2b2b;
}

.courses {
    display: grid;
    grid-template-columns: 30% 70%;
}

.pad {
    padding-bottom: 8px;
    padding-top: 10px;
}

.tel-ikonka {
    width: 15px;
    height: 15px;
}
.gmail {
    width: 15px;
    height: 15px;
}

.inst {
    width: 15px;
    height: 15px;
}

.header {
    text-align: center;
    /* height: 40px; */
    background-color: rgb(87, 64, 26);  
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%; 
}

.Anos {
    font-size: 22px;
}

.Vladika {
    font-size: 10px;
    color: bisque;
}
.uf {
    /* border: 3px solid #69584b; */
    padding-bottom: 28px;
}

.zagolovok1 {
    border: 1px solid black;
    /* border-radius: 5px; */
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    background: rgb(177, 168, 159);
}